
  .w-100 {
    width: 100%;
  }

  .confirm {
    color: #0094DA;
  }

  .pending {
    color: red;
  }

  .p-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .p-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .mb-3 {
  margin-bottom: 30px;
  }

.fondo-vehiculo {
  width: 100%;
  height: 150px;
  background-size: cover;
  background-position: center;
}

.containerPhoto, .centerObject {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.align-center {
  text-align: center;
  }

  .badge {
    padding: 0.5rem;
    border-radius: 15px;
  }

  .text-bg-success {
    color: #FFFFFF;
    background-color: #0094DA;

  }

  .text-bg-danger {
    color: #FFFFFF;
    background-color: red;
  }

  ion-toolbar {
    --background: #3C8CCD;
    --color: white;
  }

  ion-title {
    --margin-start: 15px;
  }

  .custom-title {
    text-align: center;
    width: 100%;
  }

  ion-menu-button {
    color: var(white);
  }

.btn {
 padding: .6rem .9rem;
 border-radius: 5px;
 text-transform: uppercase;
 box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
 border: 0 ;
}

.btn-danger {
  background-color: #fd1f18;
  color: #FFFFFF;

}
