<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <!-- <ion-title class="ml-3">Pre - operacional</ion-title> -->
  </ion-toolbar>
</ion-header>

<div class="container panel-turno">
  <div class="col-md-12 d-flex mt-4 mb-4 justify-content-center text-center text-white">
      <h3>Inspeccion Pre-operacional Vehiculos</h3>
  </div>
</div>
<br>




<ion-content >
  <form (ngSubmit)="submitForm()" [formGroup]="preformForm">
    <!-- Preguntas con checklist -->

    <ion-list>
      <!-- <ion-list-header>Inspeccion Pre-operacional Vehiculos</ion-list-header> -->

      <!-- Pregunta 1 -->
      <ion-item class="questions">
        <ion-label>¿Los documentos para su tránsito están vigentes?</ion-label>
        <ion-radio-group formControlName="pregunta1">
          <ion-item>
            <ion-label>Cumple</ion-label>
            <ion-radio value="Cumple"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>No Cumple</ion-label>
            <ion-radio value="No Cumple"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-item>
      <!-- Pregunta 2 -->
  <ion-item class="questions">
    <ion-label>¿Cuenta con los EPP necesario para el desarrollo de sus actividades?</ion-label>
    <ion-radio-group formControlName="pregunta2">
      <ion-item>
        <ion-label>Cumple</ion-label>
        <ion-radio value="Cumple"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>No Cumple</ion-label>
        <ion-radio value="No Cumple"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-item>

  <!-- Pregunta 3 -->
  <ion-item class="questions">
    <ion-label>¿El cinturón de seguridad está completo, funcional, de 3 puntos y sin partes deshilachadas?</ion-label>
    <ion-radio-group formControlName="pregunta3">
      <ion-item>
        <ion-label>Cumple</ion-label>
        <ion-radio value="Cumple"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>No Cumple</ion-label>
        <ion-radio value="No Cumple"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-item>
  <!-- Pregunta 4 -->
  <ion-item class="questions">
    <ion-label>¿Su estado de salud es el optimo / adecuado para el desarrollo de sus funciones?</ion-label>
    <ion-radio-group formControlName="pregunta4">
      <ion-item>
        <ion-label>Cumple</ion-label>
        <ion-radio value="Cumple"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>No Cumple</ion-label>
        <ion-radio value="No Cumple"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-item>

  <!-- Pregunta 5 -->
  <ion-item class="questions">
    <ion-label>¿Espejos / Panoramico (Limpios, bien fijados, en buen estado, sin presencia de rayones, fisuras o rotos, limpiabrisas funiconal?</ion-label>
    <ion-radio-group formControlName="pregunta5">
      <ion-item>
        <ion-label>Cumple</ion-label>
        <ion-radio value="Cumple"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>No Cumple</ion-label>
        <ion-radio value="No Cumple"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-item>
  <!-- Pregunta 6 -->
  <ion-item class="questions">
    <ion-label>¿Kit de carretera, asequible, completo y en buen estado?</ion-label>
    <ion-radio-group formControlName="pregunta6">
      <ion-item>
        <ion-label>Cumple</ion-label>
        <ion-radio value="Cumple"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>No Cumple</ion-label>
        <ion-radio value="No Cumple"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-item>

  <!-- Pregunta 7 -->
  <ion-item class="questions">
    <ion-label>¿Botiquin, asequible, completo y en buen estado?</ion-label>
    <ion-radio-group formControlName="pregunta7">
      <ion-item>
        <ion-label>Cumple</ion-label>
        <ion-radio value="Cumple"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>No Cumple</ion-label>
        <ion-radio value="No Cumple"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-item>
  <!-- Pregunta 8 -->
  <ion-item class="questions">
    <ion-label>¿Extintores, asequible, en buen estado, con presion y cargado?</ion-label>
    <ion-radio-group formControlName="pregunta8">
      <ion-item>
        <ion-label>Cumple</ion-label>
        <ion-radio value="Cumple"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>No Cumple</ion-label>
        <ion-radio value="No Cumple"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-item>

  <!-- Pregunta 9 -->
  <ion-item class="questions">
    <ion-label>¿Kit de emergencia, asequible, completo y en buen estado?</ion-label>
    <ion-radio-group formControlName="pregunta9">
      <ion-item>
        <ion-label>Cumple</ion-label>
        <ion-radio value="Cumple"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>No Cumple</ion-label>
        <ion-radio value="No Cumple"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-item>

  <!-- Pregunta 10 -->
  <ion-item class="questions">
    <ion-label>¿El interior de la cabina esta en buen estado de presentacion de orden y aseo, sin objetos distractores y/o que impidan una conduccion segura?</ion-label>
    <ion-radio-group formControlName="pregunta10">
      <ion-item>
        <ion-label>Cumple</ion-label>
        <ion-radio value="Cumple"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>No Cumple</ion-label>
        <ion-radio value="No Cumple"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-item>
  <!-- Pregunta 11 -->
  <ion-item class="questions">
    <ion-label>¿El nivel de los fluidos / liquidos es el adecuado para una operación segura del vehiculo?</ion-label>
    <ion-radio-group formControlName="pregunta11">
      <ion-item>
        <ion-label>Cumple</ion-label>
        <ion-radio value="Cumple"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>No Cumple</ion-label>
        <ion-radio value="No Cumple"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-item>
  <!-- Pregunta 12 -->
<ion-item class="questions">
<ion-label>¿El tablero de control esta en buen estado y da los testigos requeridos para la operación del vehiculo?</ion-label>
<ion-radio-group formControlName="pregunta12">
  <ion-item>
    <ion-label>Cumple</ion-label>
    <ion-radio value="Cumple"></ion-radio>
  </ion-item>
  <ion-item>
    <ion-label>No Cumple</ion-label>
    <ion-radio value="No Cumple"></ion-radio>
  </ion-item>
</ion-radio-group>
</ion-item>

<!-- Pregunta 13 -->
<ion-item class="questions">
<ion-label>¿Luces en buen estado?, funcionales: principales, altas, bajas, direccionales, luz de frenado, luz de reversa, de parque.?</ion-label>
<ion-radio-group formControlName="pregunta13">
  <ion-item>
    <ion-label>Cumple</ion-label>
    <ion-radio value="Cumple"></ion-radio>
  </ion-item>
  <ion-item>
    <ion-label>No Cumple</ion-label>
    <ion-radio value="No Cumple"></ion-radio>
  </ion-item>
</ion-radio-group>
</ion-item>
<!-- Pregunta 14 -->
<ion-item class="questions">
<ion-label>¿Pito y alarma de reversa, en buen estado y funcionales?</ion-label>
<ion-radio-group formControlName="pregunta14">
  <ion-item>
    <ion-label>Cumple</ion-label>
    <ion-radio value="Cumple"></ion-radio>
  </ion-item>
  <ion-item>
    <ion-label>No Cumple</ion-label>
    <ion-radio value="No Cumple"></ion-radio>
  </ion-item>
</ion-radio-group>
</ion-item>

<!-- Pregunta 15 -->
<ion-item class="questions">
<ion-label>¿Sistema de Frenos, en buen estado, funcional (Graduados, pastillas en buen estado,nivel de liquido), incluyendo el freno de seguridad.?</ion-label>
<ion-radio-group formControlName="pregunta15">
  <ion-item>
    <ion-label>Cumple</ion-label>
    <ion-radio value="Cumple"></ion-radio>
  </ion-item>
  <ion-item>
    <ion-label>No Cumple</ion-label>
    <ion-radio value="No Cumple"></ion-radio>
  </ion-item>
</ion-radio-group>
</ion-item>
<!-- Pregunta 16 -->
<ion-item class="questions">
<ion-label>¿Llantas y rines en buen estado (sin presencia de partes lisas, con presión correcta de inflado, sin alambres y/o deformaciones, incluyendo la llanta de repuesto)?</ion-label>
<ion-radio-group formControlName="pregunta16">
  <ion-item>
    <ion-label>Cumple</ion-label>
    <ion-radio value="Cumple"></ion-radio>
  </ion-item>
  <ion-item>
    <ion-label>No Cumple</ion-label>
    <ion-radio value="No Cumple"></ion-radio>
  </ion-item>
</ion-radio-group>
</ion-item>

<!-- Pregunta 17 -->
<ion-item class="questions">
<ion-label>¿Sistema de suspension, en buen estado y funcional que no comprometa la establidad del vehiculo?</ion-label>
<ion-radio-group formControlName="pregunta17">
  <ion-item>
    <ion-label>Cumple</ion-label>
    <ion-radio value="Cumple"></ion-radio>
  </ion-item>
  <ion-item>
    <ion-label>No Cumple</ion-label>
    <ion-radio value="No Cumple"></ion-radio>
  </ion-item>
</ion-radio-group>
</ion-item>
<!-- Pregunta 18 -->
<ion-item class="questions">
<ion-label>¿Sistema de direccion, en buen estado, funcional, sin juego?</ion-label>
<ion-radio-group formControlName="pregunta18">
  <ion-item>
    <ion-label>Cumple</ion-label>
    <ion-radio value="Cumple"></ion-radio>
  </ion-item>
  <ion-item>
    <ion-label>No Cumple</ion-label>
    <ion-radio value="No Cumple"></ion-radio>
  </ion-item>
</ion-radio-group>
</ion-item>

<!-- Pregunta 19 -->
<ion-item class="questions">
<ion-label>¿La cabina y unidad de carga no deben contar con espacios NO autorizados para el almacenamiento oculto de mercancia y/o elementos extraños ajenos a la operación?</ion-label>
<ion-radio-group formControlName="pregunta19">
  <ion-item>
    <ion-label>Cumple</ion-label>
    <ion-radio value="Cumple"></ion-radio>
  </ion-item>
  <ion-item>
    <ion-label>No Cumple</ion-label>
    <ion-radio value="No Cumple"></ion-radio>
  </ion-item>
</ion-radio-group>
</ion-item>

<!-- Pregunta 20 -->
<ion-item class="questions">
<ion-label>Chasis, piso, techo, costados, puertas, llantas y rines libres de espacios NO autorizados para el almacenamiento oculto de mercancia y/o elementos extraños ajenos a la operación?</ion-label>
<ion-radio-group formControlName="pregunta20">
  <ion-item>
    <ion-label>Cumple</ion-label>
    <ion-radio value="Cumple"></ion-radio>
  </ion-item>
  <ion-item>
    <ion-label>No Cumple</ion-label>
    <ion-radio value="No Cumple"></ion-radio>
  </ion-item>
</ion-radio-group>
</ion-item>
      <!-- Agrega más preguntas similares según tu lista -->

    </ion-list>

    <!-- Campo para subir imagen -->
    <ion-item>
      <ion-label>Subir imagen del vehiculo</ion-label>
      <input type="file" accept="image/*" (change)="onFileChange($event)">
    </ion-item>

    <!-- Leyenda de advertencia -->
    <ion-card>
      <ion-card-content>
        <p>
          SEÑOR CONDUCTOR POR FAVOR TENGA EN CUENTA ESTAS RECOMENDACIONES:
        </p>
        <ul>
          <li>Maneje siempre a la defensiva, en cualquier momento se pueden presentar obstáculos.</li>
          <li>Recuerde que el exceso de velocidad y las tragedias van de la mano.</li>
          <!-- Agrega más puntos de advertencia según tus necesidades -->
        </ul>
      </ion-card-content>
    </ion-card>

    <!-- Botón para enviar el formulario -->
    <ion-button expand="block" color="primary" type="submit"> Enviar </ion-button>
  </form>
</ion-content>
