<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ml-3">Pre - operacional</ion-title>
  </ion-toolbar>
</ion-header>

<div class="container panel-turno">
  <div class="col-md-12 d-flex mt-4 mb-4 justify-content-center text-center text-white">
    <h5>Inspeccion Pre-operacional Vehiculos</h5>
  </div>
</div>
<br>


<ion-content>
  <form (ngSubmit)="submitForm()" [formGroup]="preformForm">
    <!-- Preguntas con checklist -->


    <div *ngIf="preguntasNoCumplen.length > 0" class="no-cumple-container">

      <h2 class="titulo-no-cumple">Alerta! Verificar </h2>

      <ion-list>
        <ion-item *ngFor="let p of preguntasNoCumplen; let i = index">
          <ion-label>
            <strong>{{ p.index + 1 }} - {{ p.texto }}</strong>
            <div class="texto-descripcion">{{ p.descripcion }}</div>
          </ion-label>

          <ion-button color="success" fill="outline" size="small" (click)="marcarSolucionado(p.index)">
            Solucionado
          </ion-button>

        </ion-item>
      </ion-list>

    </div>


    <ion-list class="preguntas-lista">
      <ng-container *ngFor="let pregunta of visiblePreguntas; trackBy: userService.trackByPregunta">


        <div *ngIf="pregunta.tipo === 'categoria'" class="pregunta-card animate-card">
          <div class="pregunta-titulo">
            {{ pregunta.categoria.label }}
          </div>


          <ion-radio-group class="radio-group" (ionChange)="setCategoria(pregunta.categoria.nombre, $event)">
           <div class="radio-option">
              <ion-radio value="true"></ion-radio>
              <label>Aplica</label>
           </div>

           <div class="radio-option">
              <ion-radio value="false"></ion-radio>
              <label>No aplica</label>
           </div>
          </ion-radio-group>

        </div>

        <div *ngIf="pregunta.tipo === 'pregunta'" #preguntaCard class="pregunta-card animate-card">

          <div class="pregunta-titulo">
            {{pregunta.index + 1}} - {{ pregunta.texto }}
          </div>

          <div class="pregunta-descripcion">
            {{ pregunta.descripcion || 'Describa cualquier detalle particular si aplica.' }}
          </div>

          <ion-radio-group class="radio-group" (ionChange)="responder(pregunta.index, $event)"
            [formControlName]="'pregunta' + (pregunta.index + 1)">
            <div class="radio-option">
              <ion-radio value="Cumple"></ion-radio>
              <label>Cumple</label>
            </div>

            <div class="radio-option">
              <ion-radio value="No Cumple"></ion-radio>
              <label>No Cumple</label>
            </div>

          </ion-radio-group>

        </div>

      </ng-container>
    </ion-list>

    <hr>




    <!-- Campo para subir imagen -->
    <!-- <ion-item>
      <ion-label>Subir imagen del vehiculo</ion-label>
      <input type="file" accept="image/*" (change)="onFileChange($event)">
    </ion-item> -->
    <hr>
    <div *ngIf="preguntasCompletas">

      <ion-title class="ml-2 p-2">
        <strong>
          Foto Vehiculo
        </strong>
      </ion-title>

      <div (click)="getPhotoCar()" class="container-upload">
        <ion-img *ngIf="car" [src]="car.webviewPath"></ion-img>
        <div *ngIf="!car" class="camera"></div>
      </div>

      <!-- Leyenda de advertencia -->
      <ion-card class="warning-card">
        <ion-card-header>
          <ion-card-title class="warning-title">
            <ion-icon name="warning-outline" class="warning-icon"></ion-icon>
            Recomendaciones Importantes
          </ion-card-title>
        </ion-card-header>
        <ion-card-content class="warning-content">
          <p class="warning-text">
            Estimado conductor, le pedimos que tenga en cuenta las siguientes recomendaciones:
          </p>
          <ul class="warning-list">
            <li>Siempre conduzca de manera defensiva, ya que pueden surgir obstáculos en cualquier momento.</li>
            <li>Recuerde que el exceso de velocidad puede llevar a tragedias.</li>
            <!-- Agregue más puntos de advertencia según sea necesario -->
          </ul>
        </ion-card-content>
      </ion-card>

      <!-- Botón para enviar el formulario -->
      <ion-button expand="block" color="primary" type="submit" onsubmit="" [disabled]="isSubmitting"> Enviar </ion-button>

    </div>


  </form>
</ion-content>
<!-- <ion-content> -->