/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/*variables*/
 @import 'theme/variables';
/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/maps";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/root";


* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
  }

  html {
    height: -webkit-fill-available;
  }

  main {
    height: 100vh;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
  }


  .bg-primary {
    background-color: #0083cb !important;
  }

  .btn-primary {
    background-color: #0083cb !important;
  }

.sing-in {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
  }

  .form-signin {
    max-width: 330px;
    padding: 15px;
  }

  .form-signin .form-floating:focus-within {
    z-index: 2;
  }

  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }


  .mb-0 {
    margin-bottom: 0 !important;
  }

  .ml-2 {
    margin-left: 0.5rem;
  }

  .ml-3 {
    margin-left: 1rem;
  }

  .ml-4 {
    margin-left: 1.5rem;
  }

  .ml-5 {
    margin-left: 1.5rem;
  }



  .dropdown-toggle { outline: 0; }

  .nav-toggle {
    padding: .25rem .5rem;
    font-weight: 600;
    color: rgb(0, 0, 0);
    background-color: transparent;
  }

  .nav-toggle:focus {
    color: rgba(0, 0, 0, .85);
    background-color: #d2f4ea;
  }

  .nav-toggle[aria-expanded="true"] {
    color: rgb(0, 0, 0);
  }

  .btn-toggle {
    padding: .25rem .5rem;
    font-weight: 600;
    color: rgb(0, 0, 0);
    background-color: transparent;
  }
  .btn-toggle:hover,
  .btn-toggle:focus {
    color: rgba(0, 0, 0, .85);
    background-color: #d2f4ea;
  }

  .btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
  }

  .btn-toggle[aria-expanded="true"] {
    color: rgb(0, 0, 0);
  }
  .btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
  }

  .btn-toggle-nav a {
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
  }
  .btn-toggle-nav a:hover,
  .btn-toggle-nav a:focus {
    background-color: #d2f4ea;
  }

  .scrollarea {
    overflow-y: auto;
  }

  .navBar {
    box-shadow: 0 0 0.5em rgb(0 0 0 / 15%);
  }

  .navbar-access {
    background-color: transparent;
    border: 0;
    position: absolute;
    right: 1em;
  }


  .navbar-access img:hover {
    border-radius: 15px;
    padding: 0.2rem;
    box-shadow: 0 0 0.5em rgba(244, 244, 244, 0.947);
    -webkit-transition-property: border-radius, padding, box-shadow;
    -webkit-transition-duration: 5s;
  }

  #nameUser {
    text-transform: capitalize;
    font-weight: 700;
  }

  ion-menu::part(backdrop) {
  background-color: rgba(255, 0, 255, 0.5);
}

ion-menu::part(container) {
  border-radius: 0 20px 20px 0;

  box-shadow: 4px 0px 16px rgba(255, 0, 255, 0.18);
}

ul.list-unstyled li h2 {
  font-size: 15px;
}


ul.list-unstyled li i {
  font-size: 10px;
}

ul.list-unstyled li h3 {
  font-size: 15px;
}

  .title-form h1, .title-form h2, .title-form h3 {
    color:#0083cb;
  }


  .item-home > div {
    height: 30vh ;
    display: flex;
    justify-content: center;
  }

  ion-card-header.ios {
    display: flex;
    flex-flow: column-reverse;
  }

  .button-link {
    border-radius: 15%;
  }

  .item-form > div.item-native {
    height: 20vh;
    background-color: red;
  }

  .panel-home {
    background-color: transparent;
    height: 15vh;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
  }

  .panel-user {
    background-color: #3C8CCD;
    min-height: 30vh;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
  }

  .panel-turno {
    background-color: #3C8CCD;
    height: 10vh;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
  }

  .icon-select  {
    // width:100px !important;
    height:120px !important;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icon-select img {
    width: 40px;
    height: 40px;
    object-fit: contain;
  }

  .dataCorrect {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    // background-color: red;
  }


  .container-upload {

    width: 90%;
    height: 190px;
    margin-left: 5%;

    border-radius: 25px;
    border: 4px solid #b7b7b7;
    border-style: dashed;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .container-upload .camera {
      width: 80%;
      height: 80%;
      padding: 2rem;
      background-color: #b7b7b78b;
      background-image: url('http://54.176.177.178/checklist/camara_q.png');
      background-position:center;
      background-repeat:no-repeat;
      border-radius: 10px;

  }

  .container-upload ion-img {
    width: 80%;
    height: 80%;
  }

  .containerPhoto {
    position: relative;
  }

  #changePhoto {
   width:45px;
   height:45px;
   background-color: #FFF;
  //  background-image: url('http://54.176.177.178/checklist/camara_min.png');
  //  background-position:center;
  //  background-repeat:no-repeat;
  // background-size: contain;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 20px;
   position: absolute;
   top:70%;
   left: 55%;
  }

  #changePhoto img {
    width: 30px;
  }

  .items-center {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .placa-min {
    font-size: 1rem ;
  }

  .img-min {
    padding: 0.2rem;
    width: 35px;
  }


  ion-button[type="submit"] {
    background-color: #0083cb; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    border-radius: 15px; /* Bordes redondeados */
    font-weight: bold; /* Texto en negrita */
    margin-top: 20px; /* Espacio superior */
    padding: 10px;

  }



/* Añadir espaciado entre las preguntas */
.questions {
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 15px;
  background-color: #0083cb;
  text-align: center;
}


  /* Estilo para los botones de radio */
.questions ion-radio {
  --color-checked: #3880ff; /* Color cuando está seleccionado */
  font-size: 5px;
}


.questions ion-label,
.questions ion-radio-label {
  font-size: 1px; /* Tamaño de fuente más pequeño */
  margin: 10px 0; /* Espaciado alrededor de cada pregunta */

}
.questions ion-label,
.questions ion-radio-label,
.questions ion-radio {
  display: flex;
  justify-content:center;
  align-items: center;
  font-size: xx-small;
}


ion-content {
  max-width: 100%; /* Ancho máximo del contenido */
}
// /* Añadir un poco de espaciado alrededor del formulario */
// ion-list {
//   padding: 5px;
//   background-color: red;
// }


/* Ajustar el tamaño de la fuente de los títulos */
ion-card-header p {
  font-size: 12px;
}

/* Añadir espaciado alrededor del formulario */
ion-content {
  padding: 15px;
}

/* Ajustar el tamaño de la fuente de la advertencia */
ion-card ul li {
  font-size: 10px;
}

/* Añadir espacio alrededor del botón de envío */
ion-button[type="submit"] {
  margin-top: 20px;
  padding: 10px 20px;
}

/* Redefinir el tamaño del botón de envío */
ion-button[type="submit"] span {
  font-size: 14px; /* Tamaño de fuente personalizado */
}



/*estilos para las advertencias*/

.warning-card {
  background-color: #d5d1d1; /* Cambia el color de fondo a tu preferencia */
  border: 5px solid #ddd; /* Agrega un borde sutil */
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Agrega una sombra suave */
  margin: 10px 0; /* Espaciado alrededor de la tarjeta */
}

.warning-title {
  font-size: 20px; /* Tamaño del título */
  font-weight: bold; /* Texto en negrita */
  display: flex;
  align-items: center;
}

.warning-icon {
  font-size: 24px; /* Tamaño del ícono */
  margin-right: 10px; /* Espaciado entre el ícono y el título */
  color: #ff3f22; /* Color del ícono, puedes cambiarlo */
}

.warning-content {
  padding: 15px; /* Espaciado interno del contenido */
}

.warning-text {
  font-size: 12px; /* Tamaño del texto */
  margin-bottom: 10px; /* Espaciado inferior del texto */
}

.warning-list {
  list-style: disc inside; /* Cambia el estilo de la lista, por ejemplo, a puntos */
  margin-left: 20px; /* Espaciado izquierdo de la lista */
  padding-left: 0; /* Elimina el relleno izquierdo predeterminado de la lista */
}

.warning-list li {
  font-size: 10px; /* Tamaño de los elementos de la lista */
  margin-bottom: 2px; /* Espaciado inferior entre elementos de la lista */
}


/* Tus estilos CSS existentes */

/* Agrega las clases CSS personalizadas para el botón y el tiempo restante */
.botontiemporestante {
  font-family: 'Raleway', sans-serif;
  /* Reemplaza 'TuFuentePersonalizada' con la fuente deseada */
  font-size: 18px;
  /* Tamaño de fuente deseado */
  color: #0088FF;
  /* Color deseado para el botón */
}

.tiemporestante {
  font-family: 'Raleway', sans-serif;
  /* Reemplaza 'TuFuentePersonalizada' con la fuente deseada */
  font-size: 24px;
  /* Tamaño de fuente deseado para el reloj digital */
  color: #FF5500;
  /* Color deseado para el texto del tiempo restante */
}

.container-ticket{

height: 40vh;
width: 100%;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
}

.ticket{
  position: relative;
  padding: 1rem;
  font-size: 2.5vw;
}

.ticket p{
text-align: center;
font-family: 'Raleway', sans-serif;
color: #0088FF;
font-weight: bold;
}

.ticket span{
  width: 100%;
  position: absolute;
  left: 0;
  top: 27%;
  color: #ffffff;
  font-size: 30px;
  text-align: center;

}
/* Más estilos CSS existentes */
