ion-content.color {
    --background: linear-gradient(#5b8bdf, #f4f5f8);
  }

  .form-floating {
    margin-bottom: 10px;
  }
  .form-floating > .form-control {
    border-radius: 25px;
  }

  .icon {
    position: absolute;
    cursor: pointer;
    color: #007bff;
    font-size: 25px;
    right: 20px;
    top: 20px;
  }

  .icon-calendar {
    position: absolute;
    cursor: pointer;
    color: #007bff;
    font-size: 25px;
    right: 20px;
    top: 30px;
  }

  .group-icons {

    position: absolute; 
    right: 20px;
    top: 20px; 

  }

  .icon-a{
    cursor: pointer;
    color: #007bff;
    font-size: 25px;
  }

  .write h2, .write h1, .write h3 {
   color:#FFF;
  }
  .autocomplete-container2 {
    position: relative;
  }
  .col-n {
    flex: revert-layer !important;
  }


  .container-prop {
    position: relative;
    height: 150px;
    width: 100%;
    margin-top: 10px;
  }

  .prop-flotante {
    position: absolute;
    width: 100%;
    top: 0;
  }

  .select-card {
    background-color: #0094DA;
    color:#FFFFFF;
  }

  .term-contain {
    position: relative;
    width: 80%;
    left: 10%;
  }

  .scroll {
    height: 50vh;
    overflow-x: scroll;
  }

  .success-btn {
    width: 85%;
  }

 app-documentos > ion-footer {
    position: absolute;
    bottom: 0px;
  }

  app-documentos {
    width: 100%;
    height: 97%;
    position: absolute;
  }

  



  // ion-label {
  //   position: absolute;
  //     top: -42px;
  //     font-size: 19px;
  //     left: 20px;
  //     z-index: 9;
  //     background-color: #FFFFFF;
  // }

