<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ml-3">Información Conductor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-user">
  <form [formGroup]="dataForm" (ngSubmit)="onSubmit()">
    <!-- <div class="container panel-user">
      <div class="row p-3">
        <div
          class="containerPhoto col col-12 d-flex justify-content-center p-2 mb-3"
        >
          <ion-avatar
            [style.width]="'130px'"
            [style.height]="'130px'"
            slot="start"
          >
            <ion-img
              alt="person"
              *ngIf="hubImag.fotoperfil.webviewPath"
              class="rounded-circle me-2"
              [src]="hubImag.fotoperfil.webviewPath"
            ></ion-img>
            <ion-img
              alt="person"
              *ngIf="!hubImag.fotoperfil.webviewPath"
              class="rounded-circle me-2"
              src="http://54.176.177.178/checklist/userDefault.png"
            ></ion-img>
          </ion-avatar>
        </div>

        <div class="col col-12 text-center">
          <ul class="list-unstyled ps-0 ml-3">
            <li class="mb-1">
              <h2 class="text-white">
                <strong id="nameUser">{{ conductor.nombres }} {{ conductor.apellidos }}</strong>
              </h2>
            </li>

            <li class="mb-1">
              <span class="{{clase_estado}}">{{ estado }}</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="row mt-1">
        <div class="col col-12"></div>
      </div>
    </div>

    <div class="p-2">


      <ion-list>
        <ng-container *ngFor="let p of modulos; let i = index">
          <ion-item
          [hidden]="!p.status"
          [id]="p.tag"
          class="ion-activatable ripple-parent circle"
        >
          <ion-thumbnail class="icon-select" slot="start">
            <img alt="{{p.nombre}}" src="{{p.icon}}" />
          </ion-thumbnail>

          <ion-label>
            <h2>{{p.nombre}}</h2>
            <p>{{p.desc}}</p>
          </ion-label>

          <span slot="end" class="dataCorrect">
            <img src="{{p.img}}" alt="" />
          </span>

          <ion-ripple-effect></ion-ripple-effect>
        </ion-item>
      </ng-container>
      </ion-list>



      <div class="mt-5 p-4">
        <ion-button expand="block" type="submit">Guardar</ion-button>
      </div>
    </div> -->

    <div class="container panel-user">
      <div class="row p-3">
        <div
          class="containerPhoto col col-12 d-flex justify-content-center p-2 mb-3"
        >
          <ion-avatar
            [style.width]="'130px'"
            [style.height]="'130px'"
            slot="start"
          >
            <ion-img
              alt="person"
              *ngIf="hubImag.fotoperfil.webviewPath"
              class="rounded-circle me-2"
              [src]="hubImag.fotoperfil.webviewPath"
            ></ion-img>
            <ion-img
              alt="person"
              *ngIf="!hubImag.fotoperfil.webviewPath"
              class="rounded-circle me-2"
              src="http://54.176.177.178/checklist/userDefault.png"
            ></ion-img>
          </ion-avatar>
          <span id="changePhoto" (click)="loadProfile()">
            <img
              src="http://54.176.177.178/checklist/camara_min.png"
              alt=""
            />
          </span>
        </div>

        <div class="col col-12 text-center">
          <ul class="list-unstyled ps-0 ml-3">
            <li class="mb-1">
              <h2 class="text-white">
                <strong id="nameUser"
                  >{{ conductor.nombres }} {{ conductor.apellidos }}</strong
                >
              </h2>
            </li>

            <li class="mb-1">
              <h2 class="text-white">
                <strong id="nameUser">CC. {{ conductor.cedula }}</strong>
              </h2>
            </li>
          </ul>
        </div>

        <div [hidden]="hiddenDocs" class="doc-container">
          <span id="documentos" (click)="loadDocs()">
            <img
            src="http://54.176.177.178/checklist/document.png"
            alt=""
            />
          </span>
          <ion-badge color="danger" slot="start">{{numDocs}}</ion-badge>
        </div>


        <div class="veh-container">
          <span id="vehiculos" (click)="loadVehicle()">
            <img
            src="http://54.176.177.178/checklist/vehicle.png"
            alt=""
            />
          </span>
          <ion-badge color="primary" slot="start">{{vehiculo.placa}}</ion-badge>
        </div>


      </div>
    </div>

    <ion-list class="p-2" [inset]="true">

    <form [formGroup]="formDriver" (ngSubmit)="onSubmitDriver()" method="post">

      <ion-grid>

            <ion-col>
              <div class="col-md-12 d-flex mt-4 mb-4 justify-content-center text-center title-form">
                <strong><h1>Datos Personales</h1></strong>
              </div>
            </ion-col>

            <ion-row class="mb-4">
              <ion-col>
                <label for="">Nombres</label>
                <input type="text" [ngModel]="conductor.nombres" formControlName="nombres" class="input-registro">
              </ion-col>
            </ion-row>

            <ion-row class="mb-4">
              <ion-col>
                <label for="">Apellidos</label>
                <input type="text" [ngModel]="conductor.apellidos" formControlName="apellidos" class="input-registro">
              </ion-col>
            </ion-row>


            <ion-row class="mb-4">
              <ion-col>
                <label for="">Correo</label>
                <input type="text" [ngModel]="conductor.correo" formControlName="correo" class="input-registro">

              </ion-col>
            </ion-row>

          <ion-row class="mb-4">
            <ion-col>
              <label for="">Celular</label>
              <input type="text" [ngModel]="conductor.celular" formControlName="celular" class="input-registro">
            </ion-col>
          </ion-row>


          <ion-row class="mb-4">
            <ion-col>
              <label for="">Direccion</label>
              <input type="text" [ngModel]="conductor.direccion" formControlName="direccion" class="input-registro">
            </ion-col>
          </ion-row>

          <ion-row class="mb-4">
            <ion-col>
              <label for="">Fecha nacimeinto</label>
              <input type="date" [ngModel]="conductor.fechaNacimiento" id="fechaNacimiento" formControlName="fechaNacimiento" class="input-registro">
            </ion-col>
          </ion-row>

          <ion-col>
            <div class="col-md-12 d-flex mt-4 mb-4 justify-content-center text-center title-form">
              <strong><h1>Datos Referencia</h1></strong>
            </div>
          </ion-col>

          <ion-row class="mb-4">
            <ion-col>
              <label for="">Nombre contacto</label>
              <input type="text" [ngModel]="conductor.nombreContacto" formControlName="nombreContacto" class="input-registro">
            </ion-col>
          </ion-row>
          <ion-row class="mb-4">
            <ion-col>
              <label for="">Celular contacto</label>
              <input type="text" [ngModel]="conductor.celularContacto" formControlName="celularContacto" class="input-registro">
            </ion-col>
          </ion-row>
          <ion-row class="mb-4">
            <ion-col>

             <div class="autocomplete-container2 mb-4 col-md-12">
             <ion-label position="floating">Parentesco </ion-label>

               <ng-autocomplete
               formControlName="parentesco"
               [ngModel]="conductor.parentesco"
               [data]="dataParentes"
               [searchKeyword]="keyword"
               placeholder=""
               (selected)='selectParente($event)'
               (inputChanged)='onChangeParente($event)'
               (inputFocused)='onFocusedParente($event)'
               [itemTemplate]="itemTemplate"
               [notFoundTemplate]="notFoundTemplate">
               </ng-autocomplete>
             </div>

           </ion-col>
        </ion-row>

        <ng-template #itemTemplate let-item>
          <a [innerHTML]="item.name"></a>
        </ng-template>

        <ng-template #notFoundTemplate let-notFound>
            <div [innerHTML]="notFound"></div>
        </ng-template>




      </ion-grid>


      <!-- <div class="mt-5 p-2 d-flex justify-content-center">
        <ion-text color="primary" (click)="openDocumentController(conductor.cedula, 'cedula')">
          <h3> Verficar Fotos </h3>
        </ion-text>
      </div> -->


      <div class="mt-5 p-4">
        <button class="btn btn-primary btn-lgs" type="submit">Guardar</button>
      </div>

    </form>

    </ion-list>

    <ion-modal #modal1 [isOpen]="isModalOpen1" trigger="personal-data">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button color="medium" (click)="modal1.dismiss()"
                >Cancelar</ion-button
              >
            </ion-buttons>
            <ion-title class="ml-3">Datos Conducotor</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="onSubmitDriver()" [strong]="true"
                >Guardar</ion-button
              >
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content>

        </ion-content>
      </ng-template>
    </ion-modal>



    <ion-modal #modal2 [isOpen]="isModalOpen2" trigger="document-data">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button color="medium" (click)="modal2.dismiss()"
                >Cancelar</ion-button
              >
            </ion-buttons>
            <ion-title class="ml-4">Carga Documentos</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="saveDocumentos()" [strong]="true"
                >Confirmar</ion-button
              >
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content>

          <ion-list>

            <form [formGroup]="formDocumentDriver" (ngSubmit)="saveDocumentos()" method="post">

            <ion-accordion-group [value]="['first']" #accordionGroup>

            <ion-col>
              <div class="col-md-12 d-flex mt-4 mb-4 justify-content-center text-center title-form">
                <strong><h1>Documentos</h1></strong>
              </div>
            </ion-col>

            <ion-accordion value="first">
              <ion-item slot="header" color="light">
                <ion-label>Cedula de Ciudadania</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">

                <ion-row>
                  <ion-col>

                   <div class="col-md-12 d-flex mt-4 mb-1 justify-content-center text-center title-form">
                     <strong><h1>Cedula Cara Fontal</h1></strong>
                   </div>
                   <ion-item>
                     <div (click)="addToCamera('cedula1');  validateDocument('cedula1')" class="container-upload mb-3">
                       <ion-img
                       *ngIf="hubImag.cedula1.webviewPath"
                       [src]="hubImag.cedula1.webviewPath"
                       ></ion-img>
                       <div *ngIf="!hubImag.cedula1.webviewPath" class="camera"></div>
                     </div>
                   </ion-item>

                   </ion-col>
                 </ion-row>

                 <ion-row>
                  <ion-col>

                   <div class="col-md-12 d-flex mt-4 mb-1 justify-content-center text-center title-form">
                     <strong><h1>Cedula Cara Posterior</h1></strong>
                   </div>
                   <ion-item>
                     <div (click)="addToCamera('cedula2'); validateDocument('cedula2')" class="container-upload mb-3">
                       <ion-img
                       *ngIf="hubImag.cedula2.webviewPath"
                       [src]="hubImag.cedula2.webviewPath"
                       ></ion-img>
                       <div *ngIf="!hubImag.cedula2.webviewPath" class="camera"></div>
                     </div>
                   </ion-item>

                   </ion-col>
                 </ion-row>



              </div>
            </ion-accordion>

            <ion-accordion value="second">
              <ion-item slot="header" color="light">
                <ion-label>Licencia de conduccion</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">

                <ion-row>
                  <ion-col>

                   <div class="col-md-12 d-flex mt-4 mb-1 justify-content-center text-center title-form">
                     <strong><h1>Licencia Cara Frontal</h1></strong>
                   </div>
                   <ion-item>
                     <div (click)="addToCamera('licencia1')" class="container-upload mb-3">
                       <ion-img
                       *ngIf="hubImag.licencia1.webviewPath"
                       [src]="hubImag.licencia1.webviewPath"
                       ></ion-img>
                       <div *ngIf="!hubImag.licencia1.webviewPath" class="camera"></div>
                     </div>
                   </ion-item>

                   </ion-col>
                 </ion-row>

                 <ion-row>
                  <ion-col>

                   <div class="col-md-12 d-flex mt-4 mb-1 justify-content-center text-center title-form">
                     <strong><h1>Licencia Cara Posterior</h1></strong>
                   </div>
                   <ion-item>
                     <div (click)="addToCamera('licencia2')" class="container-upload mb-3">
                       <ion-img
                       *ngIf="hubImag.licencia2.webviewPath"
                       [src]="hubImag.licencia2.webviewPath"
                       ></ion-img>
                       <div *ngIf="!hubImag.licencia2.webviewPath" class="camera"></div>
                     </div>
                   </ion-item>

                   </ion-col>
                 </ion-row>
                 <div class="col-md-12 d-flex mt-4 mb-1 justify-content-center text-center title-form">
                  <strong><h3>Fecha Vencimiento Licencia</h3></strong>
                </div>


                 <ion-row>
                   <ion-col class="d-flex justify-content-center">
                    <ion-item>
                      <ion-datetime [ngModel]="vehiculo.fechaLicencia" formControlName="fechaLicencia" presentation="date"></ion-datetime>
                    </ion-item>

                  </ion-col>
                 </ion-row>

              </div>
            </ion-accordion>

            <ion-accordion value="third">
              <ion-item slot="header" color="light">
                <ion-label>Seguridad social</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">

                <ion-row>
                  <ion-col>

                   <div class="col-md-12 d-flex mt-4 mb-1 justify-content-center text-center title-form">
                     <strong><h1>Seguridad Social</h1></strong>
                   </div>
                   <ion-item>
                     <div (click)="addToCamera('seguridadSocial')" class="container-upload mb-3">
                       <ion-img
                       *ngIf="hubImag.seguridadSocial.webviewPath"
                       [src]="hubImag.seguridadSocial.webviewPath"
                       ></ion-img>
                       <div *ngIf="!hubImag.seguridadSocial.webviewPath" class="camera"></div>
                     </div>
                   </ion-item>

                   </ion-col>
                 </ion-row>
                 <div class="col-md-12 d-flex mt-4 mb-1 justify-content-center text-center title-form">
                  <strong><h3>Fecha Vencimiento</h3></strong>
                </div>


                 <ion-row>
                   <ion-col class="d-flex justify-content-center">
                    <ion-item>
                      <ion-datetime [ngModel]="conductor.fechaSeguridad" formControlName="fechaSeguridad" presentation="date"></ion-datetime>
                    </ion-item>

                  </ion-col>
                 </ion-row>

              </div>
            </ion-accordion>

          </ion-accordion-group>
         </form>
        </ion-list>

        </ion-content>
      </ng-template>
    </ion-modal>

    <ion-modal #modal4 [isOpen]="isModalOpen4" trigger="change-vehicle">
      <ng-template>

        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button color="medium" (click)="modal4.dismiss()">
                Cancelar
              </ion-button>
            </ion-buttons>
            <ion-title class="ml-2">Nuevo Vehiculo</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="modal4.dismiss()" [strong]="true">
                Confirmar
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
      <ion-content>


        <!-- <ion-item>
          <ion-label position="floating">Placa</ion-label>
          <ion-input id="placa"></ion-input>
        </ion-item> -->
        <form [formGroup]="dataChange" (ngSubmit)="onChange()" method="post">

        <ion-row class="mb-4">
          <ion-col size="8" class="d-flex justify-content-center p-3">
            <ion-item>
              <ion-label position="floating">Placa Vehiculo</ion-label>
              <ion-input
               [ngModel]="claseNewVh"
               formControlName="placa"
               value="{{searchTerm}}"
               (ionChange)="upperPlaca($event)"
               id="placa"
               type="text"></ion-input>
            </ion-item>
          </ion-col>

          <ion-col size="4" class="d-flex justify-content-center align-centr p-3">
            <ion-button (click)="changeVehicle()" color="primary"> Buscar </ion-button>
          </ion-col>
        </ion-row>

        <!-- <ion-row *ngIf="placaChange"> -->

          <ion-item>

          </ion-item>

          <ion-item *ngIf="placaChange">
            <ion-label position="floating">Clase vehiculo</ion-label>
            <ion-input
            [ngModel]="vehiculo.claseVehiculo"
            formControlName="claseVehiculo"
            [disabled]="isDisabled"
            ></ion-input>
          </ion-item>

          <ion-item *ngIf="placaChange">
            <ion-label position="floating">Marca</ion-label>
            <ion-input
            [ngModel]="marcaVeh"
            formControlName="marca"
            [disabled]="isDisabled1"
            ></ion-input>
          </ion-item >

        <ion-item *ngIf="placaChange">
          <ion-label position="floating">Carroceria</ion-label>
          <ion-input
          [ngModel]="carroceVeh"
          formControlName="carroceria"
          [disabled]="isDisabled2"
          ></ion-input>
        </ion-item>

      <!-- </ion-row> -->


      <ion-button *ngIf="placaChange" expand="block" color="primary" type="submit">
        Cambiar
      </ion-button>

      </form>

      </ion-content>
      </ng-template>

    </ion-modal>

    <ion-modal #modal7 [isOpen]="isModalOpen7" trigger="my-vehicles">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button color="medium" (click)="modal7.dismiss()"
                >Cancelar</ion-button
              >
            </ion-buttons>
            <ion-title class="ml-4">Mis Vehiculos</ion-title>
            <ion-buttons slot="end">
              <ion-button [strong]="true"
                >Confirmar</ion-button
              >
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content>


        </ion-content>

      </ng-template>
    </ion-modal>


    <ion-modal #modal3 [isOpen]="isModalOpen3" trigger="vehicle-data">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button color="medium" (click)="setOpenVehiculo(false)"
                >Cancelar</ion-button
              >
            </ion-buttons>
            <ion-title class="ml-4">Datos Vehiculo</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="onSubmitVehicle()" [strong]="true"
                >Confirmar</ion-button
              >
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content>

          <form [formGroup]="formVehicle" (ngSubmit)="onSubmitVehicle()" method="post">

            <ion-list class="p-2" [inset]="true">
              <ion-grid>
                <!-- <ion-row> -->

                <div class="container-prop">
                  <div class="prop-flotante">
                    <ion-row class="mt-4">

                      <ion-col class="mr-2 col-n" size="6" (click)="checkPropietario()">
                        <ion-card class="{{isPropietario ? 'select-card' : '' }}" id="propietario">
                          <ion-card-content>

                            <div>
                              <span>Soy el Propietario</span>
                            </div>

                          </ion-card-content>
                        </ion-card>
                      </ion-col>


                      <ion-col class="ml-2 col-n" size="6" (click)="checkTenedor()">
                        <ion-card  class="{{isTenedor ? 'select-card' : '' }}" id="tenedor" >
                          <ion-card-content>
                           <div>
                             <span>Soy el Tenedor</span>
                           </div>
                           </ion-card-content>
                         </ion-card>
                       </ion-col>

                    </ion-row>
                  </div>
                </div>



                <ion-col>
                  <div class="col-md-12 d-flex mt-4 mb-4 justify-content-center text-center title-form">
                    <strong><h1>Datos del vehiculo</h1></strong>
                  </div>
                </ion-col>


                  <!-- <ion-input
                    [ngModel]="claseVehiculo"
                      id="claseVehiculo"
                      formControlName="claseVehiculo"
                      ></ion-input> -->
                      <ion-row class="mb-4">
                        <ion-col>
                            <label for="">Modelo</label>
                            <input type="text" [ngModel]="vehiculo.modelo" formControlName="modelo" class="input-registro">
                        </ion-col>
                      </ion-row>

                    <ion-row>
                      <ion-col>

                      <div class="autocomplete-container2 mb-4 col-md-12">
                        <ion-label position="floating">Clase Vehiculo</ion-label>

                        <ng-autocomplete
                        formControlName="claseVehiculo"
                        [ngModel]="vehiculo.claseVehiculo"
                        [data]="dataClases"
                        [searchKeyword]="keyword"
                        placeholder=""
                        (selected)='selectEvent($event)'
                        (inputChanged)='onChangeSearch($event)'
                        (inputFocused)='onFocused($event)'
                        [itemTemplate]="itemTemplate"
                        [notFoundTemplate]="notFoundTemplate">
                      </ng-autocomplete>

                     </div>
                   </ion-col>
                  </ion-row>

                     <ion-row>
                        <ion-col>

                         <div class="autocomplete-container2 mb-4 col-md-12">
                         <ion-label position="floating">Marca</ion-label>

                           <ng-autocomplete
                           formControlName="marca"
                           [ngModel]="vehiculo.marca"
                           [data]="dataMarcas"
                           [searchKeyword]="keyword"
                           placeholder=""
                           (selected)='selectMarca($event)'
                           (inputChanged)='onChangeMarca($event)'
                           (inputFocused)='onFocusedMarca($event)'
                           [itemTemplate]="itemTemplate"
                           [notFoundTemplate]="notFoundTemplate">
                           </ng-autocomplete>
                         </div>

                       </ion-col>
                    </ion-row>

                    <ion-row>
                      <ion-col>

                       <div class="autocomplete-container2 mb-4 col-md-12">
                       <ion-label position="floating">Clase Linea</ion-label>

                         <ng-autocomplete
                         formControlName="linea"
                         [ngModel]="vehiculo.linea"
                         [data]="dataLineas"
                         [searchKeyword]="keyword"
                         placeholder=""
                         (selected)='selectLinea($event)'
                         (inputChanged)='onChangeLinea($event)'
                         (inputFocused)='onFocusedLinea($event)'
                         [itemTemplate]="itemTemplate"
                         [notFoundTemplate]="notFoundTemplate">
                         </ng-autocomplete>
                       </div>

                     </ion-col>
                    </ion-row>


                     <ion-row>
                       <ion-col>

                         <div class="autocomplete-container2 mb-4 col-md-12">
                           <ion-label position="floating">Carroceria</ion-label>

                           <ng-autocomplete
                           formControlName="carroceria"
                           [ngModel]="vehiculo.carroceria"
                           [data]="dataCarroc"
                           [searchKeyword]="keyword"
                           placeholder=""
                           (selected)='selectCarroceria($event)'
                           (inputChanged)='onChangeCarroceria($event)'
                           (inputFocused)='onFocusedCarroceria($event)'
                           [itemTemplate]="itemTemplate"
                           [notFoundTemplate]="notFoundTemplate">
                         </ng-autocomplete>
                       </div>

                      </ion-col>
                     </ion-row>


                     <ion-row>
                      <ion-col>

                       <div class="autocomplete-container2 mb-4 col-md-12">
                       <ion-label position="floating">Color </ion-label>

                         <ng-autocomplete
                         formControlName="color"
                         [ngModel]="vehiculo.color"
                         [data]="dataColores"
                         [searchKeyword]="keyword"
                         placeholder=""
                         (selected)='selectColor($event)'
                         (inputChanged)='onChangeColor($event)'
                         (inputFocused)='onFocusedColor($event)'
                         [itemTemplate]="itemTemplate"
                         [notFoundTemplate]="notFoundTemplate">
                         </ng-autocomplete>
                       </div>

                     </ion-col>
                  </ion-row>

              <ng-template #itemTemplate let-item>
                <a [innerHTML]="item.name"></a>
              </ng-template>

              <ng-template #notFoundTemplate let-notFound>
                  <div [innerHTML]="notFound"></div>
                </ng-template>


                <!-- <ion-accordion-group>
                  <ion-accordion value="first">
                    <ion-item slot="header" color="light">
                      <ion-label>Tarjeta de propiedad</ion-label>
                    </ion-item>
                    <div class="ion-padding" slot="content">

                      <ion-row>
                        <ion-col>

                         <ion-item>

                           <div (click)="addToCamera('tarjePro')" class="container-upload mb-3">
                               <ion-img
                               *ngIf="hubImag.tarjePro.webviewPath"
                               [src]="hubImag.tarjePro.webviewPath"
                               ></ion-img>
                               <div *ngIf="!hubImag.tarjePro.webviewPath" class="camera"></div>
                             </div>
                           </ion-item>

                         </ion-col>
                       </ion-row>


                    </div>
                  </ion-accordion>
                  <ion-accordion value="second">
                    <ion-item slot="header" color="light">
                      <ion-label>Soat</ion-label>
                    </ion-item>
                    <div class="ion-padding" slot="content">


                       <ion-row>
                         <ion-col>


                          <ion-item>
                            <div (click)="addToCamera('soat1')" class="container-upload mb-3">
                              <ion-img
                              *ngIf="hubImag.soat1.webviewPath"
                              [src]="hubImag.soat1.webviewPath"
                              ></ion-img>
                              <div *ngIf="!hubImag.soat1.webviewPath" class="camera"></div>
                            </div>
                          </ion-item>

                          </ion-col>
                        </ion-row>

                        <div class="col-md-12 d-flex mt-4 mb-1 justify-content-center text-center title-form">
                          <strong><h3>Fecha Vencimiento SOAT</h3></strong>
                        </div>

                        <ion-row>
                          <ion-col class="d-flex justify-content-center">
                           <ion-item>
                             <ion-datetime [ngModel]="vehiculo.fechaSoat" formControlName="fechaSoat" presentation="date"></ion-datetime>
                           </ion-item>

                          </ion-col>
                        </ion-row>


                    </div>
                  </ion-accordion>
                  <ion-accordion value="third">
                    <ion-item slot="header" color="light">
                      <ion-label>TecnoMecanica</ion-label>
                    </ion-item>
                    <div class="ion-padding" slot="content">

                      <ion-row>
                        <ion-col>


                         <ion-item>

                           <div (click)="addToCamera('tecnomecanica')" class="container-upload mb-3">
                               <ion-img
                               *ngIf="hubImag.tecnomecanica.webviewPath"
                               [src]="hubImag.tecnomecanica.webviewPath"
                               ></ion-img>
                               <div *ngIf="!hubImag.tecnomecanica.webviewPath" class="camera"></div>
                             </div>
                           </ion-item>

                         </ion-col>
                       </ion-row>


                            <div class="col-md-12 d-flex mt-4 mb-1 justify-content-center text-center title-form">
                             <strong><h3>Fecha Vencimiento TecnoMecanica</h3></strong>
                           </div>

                       <ion-row>
                        <ion-col class="d-flex justify-content-center">


                           <ion-item>
                             <ion-datetime [ngModel]="vehiculo.fechaTecno" formControlName="fechaTecno" presentation="date" locale="es-ES"></ion-datetime>
                           </ion-item>
                         </ion-col>
                       </ion-row>

                    </div>
                  </ion-accordion>

                  <ion-accordion value="four">
                    <ion-item slot="header" color="light">
                      <ion-label>Fotos</ion-label>
                    </ion-item>
                      <div class="ion-padding" slot="content">

                        <ion-row>
                          <ion-col>

                           <div class="col-md-12 d-flex mt-4 mb-1 justify-content-center text-center title-form">
                             <strong><h1>Foto Frontal</h1></strong>
                           </div>
                           <ion-item>
                             <div (click)="addToCamera('fotovehi1')" class="container-upload mb-3">
                               <ion-img
                               *ngIf="hubImag.fotovehi1.webviewPath"
                               [src]="hubImag.fotovehi1.webviewPath"
                               ></ion-img>
                               <div *ngIf="!hubImag.fotovehi1.webviewPath" class="camera"></div>
                             </div>
                           </ion-item>

                           </ion-col>
                         </ion-row>


                         <ion-row>
                          <ion-col>

                           <div class="col-md-12 d-flex mt-4 mb-1 justify-content-center text-center title-form">
                             <strong><h1>Foto Lateral</h1></strong>
                           </div>
                           <ion-item>
                             <div (click)="addToCamera('fotovehi2')" class="container-upload mb-3">
                               <ion-img
                               *ngIf="hubImag.fotovehi2.webviewPath"
                               [src]="hubImag.fotovehi2.webviewPath"
                               ></ion-img>
                               <div *ngIf="!hubImag.fotovehi2.webviewPath" class="camera"></div>
                             </div>
                           </ion-item>

                           </ion-col>
                         </ion-row>



                         <ion-row>
                          <ion-col>

                           <div class="col-md-12 d-flex mt-4 mb-1 justify-content-center text-center title-form">
                             <strong><h1>Foto Motor</h1></strong>
                           </div>
                           <ion-item>
                             <div (click)="addToCamera('fotovehi3')" class="container-upload mb-3">
                               <ion-img
                               *ngIf="hubImag.fotovehi3.webviewPath"
                               [src]="hubImag.fotovehi3.webviewPath"
                               ></ion-img>
                               <div *ngIf="!hubImag.fotovehi3.webviewPath" class="camera"></div>
                             </div>
                           </ion-item>

                           </ion-col>
                         </ion-row>



                         <ion-row>
                          <ion-col>

                           <div class="col-md-12 d-flex mt-4 mb-1 justify-content-center text-center title-form">
                             <strong><h1>Foto Posterior</h1></strong>
                           </div>
                           <ion-item>
                             <div (click)="addToCamera('fotovehi4')" class="container-upload mb-3">
                               <ion-img
                               *ngIf="hubImag.fotovehi4.webviewPath"
                               [src]="hubImag.fotovehi4.webviewPath"
                               ></ion-img>
                               <div *ngIf="!hubImag.fotovehi4.webviewPath" class="camera"></div>
                             </div>
                           </ion-item>

                           </ion-col>
                         </ion-row>


                      </div>
                  </ion-accordion>

                  <ion-accordion *ngIf="articulado" value="four">
                    <ion-item slot="header" color="light">
                      <ion-label>Remolque</ion-label>
                    </ion-item>
                    <div class="ion-padding" slot="content">



                      <ion-row *ngIf="articulado">
                        <ion-col>
                          <label for="">Placa Remolque</label>
                          <input type="text" [ngModel]="remolque" formControlName="remolque" class="input-registro">

                        </ion-col>
                      </ion-row>


                      <ion-row *ngIf="articulado">
                        <ion-col>

                         <div class="col-md-12 d-flex mt-4 mb-1 justify-content-center text-center title-form">
                           <strong><h1>Foto Remolque</h1></strong>
                         </div>
                         <ion-item>
                           <div (click)="addToCamera('fotoremol')" class="container-upload mb-3">
                             <ion-img
                             *ngIf="hubImag.fotoremol.webviewPath"
                             [src]="hubImag.fotoremol.webviewPath"
                             ></ion-img>
                             <div *ngIf="!hubImag.fotoremol.webviewPath" class="camera"></div>
                           </div>
                         </ion-item>

                         </ion-col>
                       </ion-row>

                       <ion-row *ngIf="articulado">
                        <ion-col>

                         <div class="col-md-12 d-flex mt-4 mb-1 justify-content-center text-center title-form">
                           <strong><h1>Tarjeta de propiedad</h1></strong>
                         </div>
                         <ion-item>
                           <div (click)="addToCamera('tarjePror')" class="container-upload mb-3">
                             <ion-img
                             *ngIf="hubImag.tarjePror.webviewPath"
                             [src]="hubImag.tarjePror.webviewPath"
                             ></ion-img>
                             <div *ngIf="!hubImag.tarjePror.webviewPath" class="camera"></div>
                           </div>
                         </ion-item>

                         </ion-col>
                       </ion-row>

                    </div>
                  </ion-accordion>

                </ion-accordion-group> -->


                  <div class="mt-5 p-4">
                    <ion-button expand="block" type="submit">
                      Guardar
                    </ion-button>
                  </div>

            <!-- </ion-row> -->
          </ion-grid>
        </ion-list>

      </form>



        </ion-content>
      </ng-template>
    </ion-modal>

    <ion-modal #modal5 [isOpen]="isModalOpen5" trigger="propietario-data">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button color="medium" (click)="modal5.dismiss()"
                >Cancelar</ion-button
              >
            </ion-buttons>
            <ion-title class="ml-4">Propietario</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="modal5.dismiss()" [strong]="true"
                >Confirmar</ion-button
              >
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content>


        <ion-list class="p-2" [inset]="true">
          <form [formGroup]="formNewProp" (ngSubmit)="onSubmitNewProp()" method="post">
            <ion-grid>


              <ion-row  class="mb-4">
                <ion-col>
                  <label for="">Cedula</label>
                  <input type="text" (change)="searchInfoPro($event)" formControlName="cedula" class="input-registro">

                </ion-col>
              </ion-row>

              <ion-col *ngIf="propietario.cedula">
                <div class="col-md-12 d-flex mt-4 mb-4 justify-content-center text-center title-form">
                  <strong><h1>Datos Personales</h1></strong>
                </div>
              </ion-col>


              <ion-row *ngIf="propietario.cedula" class="mb-4">
                <ion-col>
                  <label for="">Nombres</label>
                  <input type="text" [ngModel]="propietario.nombres" formControlName="nombres" class="input-registro">

                </ion-col>
              </ion-row>

              <ion-row *ngIf="propietario.cedula" class="mb-4">
                <ion-col>
                  <label for="">Apellidos</label>
                  <input type="text" [ngModel]="propietario.apellidos" formControlName="apellidos" class="input-registro">

                </ion-col>
              </ion-row>

              <ion-row *ngIf="propietario.cedula" class="mb-4">
                <ion-col>
                  <label for="">Correo</label>
                  <input type="text" [ngModel]="propietario.correo" formControlName="correo" class="input-registro">

                </ion-col>
              </ion-row>

              <ion-row *ngIf="propietario.cedula" class="mb-4">
                <ion-col>
                  <label for="">Celular</label>
                  <input type="text" [ngModel]="propietario.celular" formControlName="celular" class="input-registro">
                </ion-col>
              </ion-row>

              <ion-row *ngIf="propietario.cedula" class="mb-4">
                <ion-col>
                  <label for="">Direccion</label>
                  <input type="text" [ngModel]="propietario.direccion" formControlName="direccion" class="input-registro">
                </ion-col>
              </ion-row>

              <ion-row *ngIf="propietario.cedula" class="mb-4">
                <ion-col>
                  <label for="">Fecha nacimeinto</label>
                  <input type="text" [ngModel]="propietario.fechaNacimeinto" formControlName="fechaNacimeinto" class="input-registro">
                </ion-col>
              </ion-row>


              <ion-accordion-group *ngIf="propietario.cedula">
                <ion-accordion value="first">
                  <ion-item slot="header" color="light">
                    <ion-label>Cedula de Ciudadania</ion-label>
                  </ion-item>
                  <div class="ion-padding" slot="content">


                    <ion-row>
                      <ion-col>

                       <div class="col-md-12 d-flex mt-4 mb-1 justify-content-center text-center title-form">
                         <strong><h1>Cedula Cara Frontal</h1></strong>
                       </div>
                       <ion-item>
                         <div (click)="addToCamera('cedula_pro1')" class="container-upload mb-3">
                           <ion-img
                           *ngIf="hubImag.cedula_pro1.webviewPath"
                           [src]="hubImag.cedula_pro1.webviewPath"
                           ></ion-img>
                           <div *ngIf="!hubImag.cedula_pro1.webviewPath" class="camera"></div>
                         </div>
                       </ion-item>

                       </ion-col>
                     </ion-row>


                     <ion-row>
                      <ion-col>

                       <div class="col-md-12 d-flex mt-4 mb-1 justify-content-center text-center title-form">
                         <strong><h1>Cedula Cara Posterior</h1></strong>
                       </div>
                       <ion-item>
                         <div (click)="addToCamera('cedula_pro2')" class="container-upload mb-3">
                           <ion-img
                           *ngIf="hubImag.cedula_pro2.webviewPath"
                           [src]="hubImag.cedula_pro2.webviewPath"
                           ></ion-img>
                           <div *ngIf="!hubImag.cedula_pro2.webviewPath" class="camera"></div>
                         </div>
                       </ion-item>

                       </ion-col>
                     </ion-row>




                  </div>
                </ion-accordion>
              </ion-accordion-group>


              <div class="mt-5 p-4">
                <ion-button expand="block" type="submit">
                  Guardar
                </ion-button>
              </div>

            </ion-grid>
          </form>
        </ion-list>

        </ion-content>
      </ng-template>
    </ion-modal>

    <ion-modal #modal6 [isOpen]="isModalOpen6" trigger="tenedor-data">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button color="medium" (click)="modal6.dismiss()"
                >Cancelar</ion-button
              >
            </ion-buttons>
            <ion-title class="ml-4">Tenedor</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="modal6.dismiss()" [strong]="true"
                >Confirmar</ion-button
              >
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content>


        <ion-list class="p-2" [inset]="true">
          <form [formGroup]="formNewTene" (ngSubmit)="onSubmitNewTen()" method="post">
            <ion-grid>


              <ion-row class="mb-4">
                <ion-col>
                  <label for="">Cedula</label>
                  <input type="number" (change)="searchInfoTen($event)" [ngModel]="tenedor.cedula" formControlName="cedula" class="input-registro">

                </ion-col>
              </ion-row>

              <ion-col *ngIf="tenedor.cedula">
                <div class="col-md-12 d-flex mt-4 mb-4 justify-content-center text-center title-form">
                  <strong><h1>Datos Personales</h1></strong>
                </div>
              </ion-col>



              <ion-row *ngIf="tenedor.cedula" class="mb-4">
                <ion-col>
                  <label for="">Nombres</label>
                  <input type="text" [ngModel]="tenedor.nombres" formControlName="nombres" class="input-registro">

                </ion-col>
              </ion-row>

              <ion-row *ngIf="tenedor.cedula" class="mb-4">
                <ion-col>
                  <label for="">Apellidos</label>
                  <input type="text" [ngModel]="tenedor.apellidos" formControlName="apellidos" class="input-registro">

                </ion-col>
              </ion-row>

              <ion-row *ngIf="tenedor.cedula" class="mb-4">
                <ion-col>
                  <label for="">Correo</label>
                  <input type="text" [ngModel]="tenedor.correo" formControlName="correo" class="input-registro">

                </ion-col>
              </ion-row>

              <ion-row *ngIf="tenedor.cedula" class="mb-4">
                <ion-col>
                  <label for="">Celular</label>
                  <input type="text" [ngModel]="tenedor.celular" formControlName="celular" class="input-registro">
                </ion-col>
              </ion-row>

              <ion-row *ngIf="tenedor.cedula" class="mb-4">
                <ion-col>
                  <label for="">Direccion</label>
                  <input type="text" [ngModel]="tenedor.direccion" formControlName="direccion" class="input-registro">
                </ion-col>
              </ion-row>

              <ion-row *ngIf="tenedor.cedula" class="mb-4">
                <ion-col>
                  <label for="">Fecha nacimeinto</label>
                  <input type="text" [ngModel]="tenedor.fechaNacimeinto" formControlName="fechaNacimeinto" class="input-registro">
                </ion-col>
              </ion-row>


              <ion-accordion-group *ngIf="tenedor.cedula">
                <ion-accordion value="first">
                  <ion-item slot="header" color="light">
                    <ion-label>Cedula de Ciudadania</ion-label>
                  </ion-item>
                  <div class="ion-padding" slot="content">


                    <ion-row>
                      <ion-col>

                       <div class="col-md-12 d-flex mt-4 mb-1 justify-content-center text-center title-form">
                         <strong><h1>Cedula Cara Frontal</h1></strong>
                       </div>
                       <ion-item>
                         <div (click)="addToCamera('cedula_ten1')" class="container-upload mb-3">
                           <ion-img
                           *ngIf="hubImag.cedula_ten1.webviewPath"
                           [src]="hubImag.cedula_ten1.webviewPath"
                           ></ion-img>
                           <div *ngIf="!hubImag.cedula_ten1.webviewPath" class="camera"></div>
                         </div>
                       </ion-item>

                       </ion-col>
                     </ion-row>


                     <ion-row>
                      <ion-col>

                       <div class="col-md-12 d-flex mt-4 mb-1 justify-content-center text-center title-form">
                         <strong><h1>Cedula Cara Posterior</h1></strong>
                       </div>
                       <ion-item>
                         <div (click)="addToCamera('cedula_ten2')" class="container-upload mb-3">
                           <ion-img
                           *ngIf="hubImag.cedula_ten2.webviewPath"
                           [src]="hubImag.cedula_ten2.webviewPath"
                           ></ion-img>
                           <div *ngIf="!hubImag.cedula_ten2.webviewPath" class="camera"></div>
                         </div>
                       </ion-item>

                       </ion-col>
                     </ion-row>



                  </div>
                </ion-accordion>
              </ion-accordion-group>


              <div class="mt-5 p-4">
                <ion-button expand="block" type="submit">
                  Guardar
                </ion-button>
              </div>

            </ion-grid>
          </form>
        </ion-list>

        </ion-content>
      </ng-template>
    </ion-modal>




  </form>
</ion-content>


<app-documentos-data appTipoDocumento="dataTercero" [dataTercero]="dataTercero" *ngIf="openDocs" (save)="saveDocs($event)"
(cancel)="cancelDocs()">

</app-documentos-data>
