<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Enturnamiento</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div class="">

        <div class="d-flex justify-content-center">



            <form [formGroup]="turnoForm" (ngSubmit)="onSubmit()">

                <div class="panel-turno">
                    <div class="col-md-12 p-4 d-flex mb-4 justify-content-center text-center text-white">
                        <!-- <h3>Enturnamiento</h3> -->
                        <label id="origenLabel" for="">Bucando Ubicacion: <ion-spinner></ion-spinner></label>
                        <input [ngModel]="nombre" type="hidden" id="origen" formControlName="origen">
                    </div>

                </div>

                <div class="form-row p-2">

                    <ion-item class="col-md-12 mt-2">
                        <!-- <label for="destino1">Destino 1</label> -->
                        <!-- <select class="form-control" formControlName="destino1" id="destino1" required> -->
                        <ion-select class="input-registro" formControlName="destino1" interface="action-sheet"
                            placeholder="* Selecciona la ciudad de destino 1 ...">
                            <ion-select-option></ion-select-option>
                            <ion-select-option *ngFor="let p of regionales" value="{{ p.nombre }}">{{ p.nombre
                                }}</ion-select-option>
                        </ion-select>
                        <!-- </select> -->
                    </ion-item>
                    <ion-item class="col-md-12 mt-2">
                        <!-- <label for="destino2">Destino 2</label> -->
                        <ion-select class="input-registro" formControlName="destino2" interface="action-sheet"
                            placeholder="* Selecciona la ciudad de destino 2 ...">
                            <ion-select-option></ion-select-option>
                            <ion-select-option *ngFor="let p of regionales" value="{{ p.nombre }}">{{ p.nombre
                                }}</ion-select-option>
                        </ion-select>
                    </ion-item>
                    <ion-item class="col-md-12 mt-2">
                        <!-- <label for="">Destino 3</label> -->
                        <ion-select class="input-registro" formControlName="destino3" interface="action-sheet"
                            placeholder="* Selecciona la ciudad de destino 3 ...">
                            <ion-select-option></ion-select-option>
                            <ion-select-option *ngFor="let p of regionales" value="{{ p.nombre }}">{{ p.nombre
                                }}</ion-select-option>
                        </ion-select>
                    </ion-item>

                    <div *ngIf="vehiculo.tipo == 'ARTICULADO'" class="col-md-12 mt-2 mb-3">
                        <label for="remolque">Tipo de Remolque</label>
                        <ion-select interface="action-sheet" formControlName="remolque" id="remolque">
                            <ion-select-option selected>Seleccionar</ion-select-option>
                            <ion-select-option value="CONTENEDOR">CONTENEDOR</ion-select-option>
                            <ion-select-option value="PLANCHA">PLANCHA</ion-select-option>
                        </ion-select>
                    </div>

                    <h6 style="margin-top:20px; color: #DB1824; font-size: 12px;" id="labelPorcentaje">* De detectar que
                        la información brindada no es cierta podrá incurrir en sanciones drásticas por parte de la
                        compañía.</h6>

                    <ion-item class="col-md-12 mt-2">
                        <!-- <label for="">Vechiulo vacio</label> -->
                        <ion-select class="input-registro" interface="action-sheet" formControlName="vehiculovac"
                            id="vehiculovac" placeholder="Vehiculo Vacio*" required>
                            <ion-select-option selected>Seleccionar</ion-select-option>
                            <ion-select-option value="SI">SI</ion-select-option>
                            <ion-select-option value="NO">NO</ion-select-option>
                        </ion-select>
                    </ion-item>
                </div>

                <ion-button expand="full" type="submit" [disabled]="turnoForm.invalid || isSubmitting">
                    {{ isSubmitting ? 'Enviando...' : 'Enturnarme' }}
                </ion-button>

            </form>

        </div>

    </div>


</ion-content>